.hide {
    display: none;
}
.triangleBtn {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 10px;
    border-color: transparent transparent transparent #7c7c7b;
    display: inline-block;
    margin-top: 20px;
    &.extend {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 5px 0 5px;
        border-color: #7c7c7b transparent transparent transparent;
    }
}

.plusBtn {
    width: 12px;
    height: 12px;
    background: #7C7C7B;
    border-radius: 2px;
    border: 1px solid #7C7C7B;
    display: inline-block;
    vertical-align: -20%;
    margin: 0 5px;
    &::after {
        content: '+';
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        width: 13px;
        line-height: 10px;
        color: #FFF;
        position: absolute;
    }
    &.extend {
        background: #FFF;
        &::after {
            content: '-';
            color: #000;
        }
    }
}
.horizontalLine {
    width: 20px;
    height: 48%;
    display: inline-block;
    border-bottom: 2px solid #C3C3C2;
    margin-right: 5px;
}
.indentLine {
    width: 0px;
    height: 100%;
    float: left;
    margin-left: 4px;
    border-left: 2px solid #C3C3C2;
}
.indentLine2 {
    width: 0px;
    height: 100%;
    float: left;
    margin-left: 36px;
    border-left: 2px solid #C3C3C2;
}

.tableSeasonsDiv>.tableEpisodeDiv>.tableList:first-child>.indentLine2 {
    height: 50%;
    margin-top: 22px;
}
.tableSeasonsDiv>.tableList:last-child>.indentLine {
    height: 50%;
}
.tableSeasonsDiv>.tableEpisodeDiv>.tableList:last-child>.indentLine2 {
    height: 50%;
}
.programSwitch {
    width: 45px;
    height: 19px;
    border-radius: 10px;
    background: #7C7C7B;
    border: 1px solid #7C7C7B;
    &::before {
        content: '';
        width: 19px;
        height: 19px;
        border-radius: 10px;
        background: #FFF;
        float: left;
        transition: all 1s;
    }
    &.active {
        background: #08AA5E;
        border: 1px solid #08AA5E;
        &::before {
            margin-left: 26px;
        }
    }
}
body {
    margin: 0px;
}