#main {
    width: 95%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 16px;

    #tableHeader {
        background: #E8E8E7;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        line-height: 20px;
        padding: 0px 3%;
        height: 48px;
    }
    .tableSeasonsDiv, .tableEpisodeDiv {
        transition: all .5s;

    }
    .tableList {
        padding: 0px 3%;
        height: 45px;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
        &:hover {
            background: rgba(78, 160, 221, 0.1);
        }
        .triangleBtn, .plusBtn {
            cursor: pointer;
        }
    }
    .tableItem {
        font-size: 12px;
        line-height: 20px;
        height: 100%;
        display: block;
        float: left;
        >span, .programSwitch, .programDom {
            vertical-align: middle;
            display: inline-block;
        }
        .programSwitch {
            margin-right: 16px;
        }
        &:not(.tableBtns)::before {
            content: "";
            vertical-align: middle;
            width: 0px;
            height: 100%;
            display: inline-block;
        }

    }
    .tableIds {
        color: #494948;
    }
    .tableBtns {
        min-width: 25px;
    }
    .tableTitles {
        font-weight: bold;
        margin-right: 80px;
        display: inline-block;
    }
    .tableSeasonsDiv .tableTitles{
        margin-right: 50px;
    }.tableEpisodeDiv .tableTitles{
        margin-right: 36px;
    }
    .tableProgrammables {
        float: right;
    }

    .fit {
        width: 25px;
    }
    .col-1 {
        width: 56px;
    }
    .col-2 {
        width: 112px;
    }
    .col-3 {
        width: 168px;
    }
    .col-4 {
        width: 224px;
    }
    .col-5 {
        width: 280px;
    }
}